<div class="widgetname">

    <!-- <form action="/pay/3eded078-5c5e-42e7-9dda-6223b2211d3e/" method="post" id="payment-form" class="form-horizontal" data-dojo-attach-point="inputForm"> -->
    <form  id="payment-form" class="form-horizontal" data-dojo-attach-point="inputForm">
        <div  class="input-group" data-dojo-attach-point="inputNodes">
        <input type="hidden" id="payment_method" name="payment_method" value="bancontact" data-dojo-attach-point="payment_method">
            <!--<input type="hidden" id="setup_token" name="payment_method" value="bancontact" data-dojo-attach-point="setup_token">-->
        <!-- <input type="hidden" id="vault_token" name="vault_token" value=""  data-dojo-attach-point="vault_token"> -->
        <input type="hidden" id="datetime_local" name="datetime_local" value=""  data-dojo-attach-point="datetime_local">
        <input type="hidden" id="cvc" name="cvc" value="123" data-dojo-attach-point="cvc">

        <div class="form-group">
            <label for="pan" class="col-sm-3 control-label">Card number</label>
            <div class="col-sm-9">
                <input type="tel" name="pan" class="form-control" id="pan" value="" autocomplete="cc-number" placeholder="•••• •••• •••• •••• •" data-dojo-attach-point="pan">
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="col-sm-3 control-label">Card holder</label>
            <div class="col-sm-9">
                <input type="text" name="name" class="form-control" id="name" value="" autocomplete="cc-name" data-dojo-attach-point="nameCardHolder">
            </div>
        </div>
        <div class="form-group">
            <label for="expiry_month" class="col-sm-3 control-label">Expiration date</label>
            <div class="col-xs-4 col-sm-2">
                <input type="tel" class="form-control" id="expiry_month" placeholder="Maand" value="" autocomplete="cc-exp-month" data-dojo-attach-point="expiry_month">
            </div>
            <div class="col-sm-1 form-control-static text-center hidden-xs">/</div>
            <div class="col-xs-4 col-sm-2">
                <input type="tel" name="expiry" class="form-control" id="expiry_year" placeholder="Jaar" value="" autocomplete="cc-exp-year" data-dojo-attach-point="expiry_year">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <input class="btn btn-primary" data-dojo-attach-point="submitButton" type="button" value="Send Payment"> </input>
            </div>
        </div>
        </div>
    </form>
</div>

